
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Marcellus+SC&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
    background-color: #dbdbdb;
    margin: 0;
    padding: 0;
}
p{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin-right: 10px;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
introduction{
    flex-direction: row;
}
.introduction img{
    margin-left: 80px;
    max-height: 60px;
    max-width: 150px;
    margin-bottom: 0px;
}
.nav-bar ul{
    list-style-type: none;
    background-color:rgb(59, 57, 57) ;
    padding: 1px;
    margin: 0.5px;
    overflow: hidden;
    border-radius: 3px;
}
.nav-bar li{    
    float: right;
    color: white;
    padding: 15px;
    text-align: center;
}
.nav-bar li:hover{
    background-color: rgb(255, 102, 0);
    border-radius: 2px;
    transition: 0.4s;
}
.introduction h2{
    margin-top:0px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
img{
    width: 100vw;
    height: 88vh;
}
.drive a{
    color: #031cff;
    text-decoration: none;
    transition: 0.4s;
    font-size:small;
}
.drive a:hover{
    color: rgb(255, 102, 0);
}
.drive li{
    list-style-type: none;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bolder;
}
.image-container{
    padding-top: 20px;
    position: relative;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
}
.overlay-text{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    transition: 4.5s;
    background-color: rgba(0,0,0,0.8);
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    color: white;
    font-size: 25px;
}
.overlay-text-2{
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-100%, -50%);
    transition: 3.5s;
    background-color: rgba(185, 185, 185, 0.171);
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    color: white;
    font-size: 25px;
}
.breaker-line{
    width: auto;
    height: 0.3px;
    background-color: rgb(141, 130, 130);
    margin: 10px auto;
}
.breaker-line-2{
    width: auto;
    height: 0.3px;
    background-color: rgb(141, 130, 130);
    margin-top: 30px;
}
strong{
    color:  rgb(35, 134, 173);
}
.first-content{
    padding-left: 30px;
}
.first-content a{
    color: #031cff;
    text-decoration: none;
    transition: 0.4s;
    font-size:small;
}
.first-content a:hover{
    color: rgb(255, 102, 0);
}
#about h2{
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: left;
    padding-left: 20px;
}
#about a{
    text-decoration: none;
}
#services{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    padding-left: 30px;
    padding-right: 30px;
}
.eagle-content{
    display: flex;
    margin-top: 0px;
    align-items: center;
    padding-top: 0px;
    padding-left: 30px;

}
.eagle-content p{
    color: rgb(0, 0, 0);
    font-size: 25.5px;
    padding-right: 100px;
    padding-left: 50px;
}
.eagle-content img{
    border-radius: 1%
    
    ;
    /* width: 340%;*/
    height: auto; 
}
span{
    font-size:30px;
}
.values li{
    list-style-type: none;
}
ol{
    list-style-type: none;
    /* text-align: center; */
}
ol span{
    text-align: center;
    font-weight: bold;
}
.image-container a{
    color: #031cff;
    text-decoration: none;
    transition: 4.5s;
    font-size:small;
}
.image-container a:hover{
    color: rgb(255, 102, 0);
}
.footer-content{
    display: flex;
    background-color: rgb(59, 57, 57);
    color: white;
}
.footer-content p{
    padding: 5px;
    margin-left: 10px;
    font-size: 15px;
}
.footer-content a{
    color: rgb(255, 0, 0);
    transition: 0.4s;
    font-size: small;
    text-decoration: none;
}
